<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body state="main">
  <div>
    <a href="/index">Home</a>
    <a href="/list">list</a>
    <a href="/about">About</a>
  </div>
  <tb-page>
    <h1>Welcome to my awesome Todo app, powered by Turbo.</h1>
    <tb-form tb-action="addTodoList">
      <input type="text" name="name">
      <button>Add</button>
    </tb-form>
    <tb-render model="visibleLists" template="list"></tb-render>
  </tb-page>
  <script src="../../index.js"></script>
</body>
</html>