<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <a href="/index">Home</a>
    <a href="/list">list</a>
    <a href="/about">About</a>
  </div>
  <tb-page>
    <h1>Welcome to my awesome Todo app, powered by Turbo.</h1>
    <tb-form data-action="submit:addNewTodo" model="newTodo">
      <input name="title" type="text" data-action="keyup:newTodoChange">
      <textarea name="description" cols="30" rows="10"></textarea>
      <button type="submit">Add</button>
    </tb-form>
    <div>
      <a href="/visible-todos">List</a>
      <a href="/deleted-todos">Deleted</a>
    </div>
    <div>
      <h2>Todos:</h2>
      <tb-page></tb-page>
    </div>
    <button data-action="click:toggleAll">Mark all as done</button>
  </tb-page>
</body>
</html>