<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body state="main">
  <div>
    <a href="/index">Home</a>
    <a href="/list">list</a>
    <a href="/about">About</a>
  </div>
  
  <template id="example">Hello world! My name is {name}.</template>
  <tb-render template="example" model="author"></tb-render>
  
  <template id="edit-todo">
    <div>
      <h3>{title}</h3>
      <p>{description}</p>
      <label><input type="checkbox" name="done">Done</label>
      <button tb-action="click:setEditing">edit</button>
      <button tb-action="click:deleteTodo">delete</button>
    </div>
  </template>
  
  <template id="preview-todo">
    <tb-form>
      <input type="text" name="title">
      <textarea name="description" cols="30" rows="10"></textarea>
      <label><input type="checkbox" name="isDone">Done</label>
      <button tb-action="click:cancelEditing">Cancel</button>
      <button type="submit">Apply</button>
    </tb-form>
  </template>
  
  <template id="todo">
    <tb-render if="isPreview" template="preview-todo"></tb-if>
    <tb-render if="isEditing" template="edit-todo"></tb-if>
  </template>

  <template id='list'>
    <div>
      <a href="/list/{id}">List</a>
      <a href="/list/{id}/deleted-todos">Deleted</a>
    </div>
    <div>
      <tb-form submitEvent="list.addNewTodo" model="list.newTodo">
        <input name="title" type="text" tb-action="keyup:newTodoChange">
        <textarea name="description" cols="30" rows="10"></textarea>
        <button type="submit">Add</button>
      </tb-form>
      <h2>Todos:</h2>
      <button tb-action="click:toggleAll">All</button>
      <button tb-action="click:deleteList">delete</button>
      <!-- <tb-page>
        <h2>List</h2>
        <tb-render model="list.visibleTodos" template="todo"></tb-render>
      </tb-page> -->
    </div>
  </template>

  <template page-path="/">
    <h1>Welcome to my awesome Todo app, powered by Turbo.</h1>
    <tb-form submitEvent="addTodoList">
      <input type="text" name="name">
      <button type="submit">Add</button>
    </tb-form>
    <tb-render model="visibleLists" template="list"></tb-render>
  </template>
  <tb-page></tb-page>
  <script src="../../index.js"></script>
</body>
</html>