<template id="list">
  <div>
    <a href="/visible-todos">List</a>
    <a href="/deleted-todos">Deleted</a>
  </div>
  <div>
    <tb-form data-action="submit:list.addNewTodo" model="list.newTodo">
      <input name="title" type="text" data-action="keyup:newTodoChange">
      <textarea name="description" cols="30" rows="10"></textarea>
      <button type="submit">Add</button>
    </tb-form>
    <h2>Todos:</h2>
    <button data-action="click:toggleAll">All</button>
    <button data-action="click:deleteList">delete</button>
    <tb-page></tb-page>
  </div>
</template>