<template id="edit-todo">
  <div>
    <h3>{title}</h3>
    <p>{description}</p>
    <label><input type="checkbox" name="done">Done</label>
    <button tb-action="click:setEditing">edit</button>
    <button tb-action="click:deleteTodo">delete</button>
  </div>
</template>

<template id="preview-todo">
  <tb-form>
    <input type="text" name="title">
    <textarea name="description" cols="30" rows="10"></textarea>
    <label><input type="checkbox" name="isDone">Done</label>
    <button tb-action="click:cancelEditing">Cancel</button>
    <button type="submit">Apply</button>
  </tb-form>
</template>

<template id="todo">
  <tb-render if="isPreview" template="preview-todo"></tb-if>
  <tb-render if="isEditing" template="edit-todo"></tb-if>
</template>